DataProc/Service References/SMSSvc/SMSService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.ynssxsoft.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ynssxsoft.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.ynssxsoft.com/Imports">
      <xsd:import schemaLocation="http://smsservice.qjyc.cn/SMSService.svc?xsd=xsd0" namespace="http://www.ynssxsoft.com" />
      <xsd:import schemaLocation="http://smsservice.qjyc.cn/SMSService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://smsservice.qjyc.cn/SMSService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISMSService_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="ISMSService_SendMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="ISMSService_GetReceivedMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReceivedMessage" />
  </wsdl:message>
  <wsdl:message name="ISMSService_GetReceivedMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReceivedMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="ISMSService">
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="http://www.ynssxsoft.com/ISMSService/SendMessage" message="tns:ISMSService_SendMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ynssxsoft.com/ISMSService/SendMessageResponse" message="tns:ISMSService_SendMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReceivedMessage">
      <wsdl:input wsaw:Action="http://www.ynssxsoft.com/ISMSService/GetReceivedMessage" message="tns:ISMSService_GetReceivedMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ynssxsoft.com/ISMSService/GetReceivedMessageResponse" message="tns:ISMSService_GetReceivedMessage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>