TalentGoWebApp/Service References/SMSSvc/SMSService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.ynssxsoft.com" elementFormDefault="qualified" targetNamespace="http://www.ynssxsoft.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://smsservice.qjyc.cn/SMSService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ToList" nillable="true" type="q1:ArrayOfstring" />
        <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="option" nillable="true" type="tns:SendMessageOption" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SendMessageOption">
    <xs:sequence>
      <xs:element minOccurs="0" name="EnableSession" type="xs:boolean" />
      <xs:element minOccurs="0" name="RelatedSessionID" type="xs:int" />
      <xs:element minOccurs="0" name="SendImmediately" type="xs:boolean" />
      <xs:element minOccurs="0" name="SendTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SessionExpired" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendMessageOption" nillable="true" type="tns:SendMessageOption" />
  <xs:element name="SendMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendMessageResult" nillable="true" type="tns:SendMessageResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SendMessageResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageID" type="xs:int" />
      <xs:element minOccurs="0" name="Option" nillable="true" type="tns:SendMessageOption" />
      <xs:element minOccurs="0" name="ResultCode" type="xs:int" />
      <xs:element minOccurs="0" name="SessionID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendMessageResult" nillable="true" type="tns:SendMessageResult" />
  <xs:element name="GetReceivedMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReceivedMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetReceivedMessageResult" nillable="true" type="tns:ReceivedMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ReceivedMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Messages" nillable="true" type="tns:ArrayOfSMSMessage" />
      <xs:element minOccurs="0" name="SessionExpired" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceivedMessage" nillable="true" type="tns:ReceivedMessage" />
  <xs:complexType name="ArrayOfSMSMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SMSMessage" nillable="true" type="tns:SMSMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSMSMessage" nillable="true" type="tns:ArrayOfSMSMessage" />
  <xs:complexType name="SMSMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="From" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReveicedTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SMSMessage" nillable="true" type="tns:SMSMessage" />
</xs:schema>