TalentGoWebServerLib/Connected Services/ValidationCodeSvc/VerificationCodeService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.qjyc.cn/ws/2017" elementFormDefault="qualified" targetNamespace="http://www.qjyc.cn/ws/2017" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ws.qjyc.cn/sms/VerificationCodeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommonServices" />
  <xs:element name="Send">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendResult" nillable="true" type="tns:SendVerificationCodeOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SendVerificationCodeOperationResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/CommonServices" base="q1:OperationResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="VerificationCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SendVerificationCodeOperationResult" nillable="true" type="tns:SendVerificationCodeOperationResult" />
  <xs:element name="Verify">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>