TalentGoWebServerLib/Connected Services/ValidationCodeSvc/VerificationCodeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.qjyc.cn/ws/2017" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.qjyc.cn/ws/2017" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.qjyc.cn/ws/2017/Imports">
      <xsd:import schemaLocation="http://ws.qjyc.cn/sms/VerificationCodeService.svc?xsd=xsd0" namespace="http://www.qjyc.cn/ws/2017" />
      <xsd:import schemaLocation="http://ws.qjyc.cn/sms/VerificationCodeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ws.qjyc.cn/sms/VerificationCodeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommonServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVerificationCode_Send_InputMessage">
    <wsdl:part name="parameters" element="tns:Send" />
  </wsdl:message>
  <wsdl:message name="IVerificationCode_Send_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendResponse" />
  </wsdl:message>
  <wsdl:message name="IVerificationCode_Verify_InputMessage">
    <wsdl:part name="parameters" element="tns:Verify" />
  </wsdl:message>
  <wsdl:message name="IVerificationCode_Verify_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyResponse" />
  </wsdl:message>
  <wsdl:portType name="IVerificationCode">
    <wsdl:operation name="Send">
      <wsdl:input wsaw:Action="http://www.qjyc.cn/ws/2017/IVerificationCode/Send" message="tns:IVerificationCode_Send_InputMessage" />
      <wsdl:output wsaw:Action="http://www.qjyc.cn/ws/2017/IVerificationCode/SendResponse" message="tns:IVerificationCode_Send_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Verify">
      <wsdl:input wsaw:Action="http://www.qjyc.cn/ws/2017/IVerificationCode/Verify" message="tns:IVerificationCode_Verify_InputMessage" />
      <wsdl:output wsaw:Action="http://www.qjyc.cn/ws/2017/IVerificationCode/VerifyResponse" message="tns:IVerificationCode_Verify_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>